.App {
  display: flex;
  flex-direction: row;
  background-color: #181a1b;
  min-height: 100vh;
}

.middle-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.left-panel {
  display: flex;
  flex-direction: column;
  background-color: #181818;
  color: grey;
  max-width: 18%;
  padding-left: 2%;
}
